<div class="mt-4">
 
    <form >
        <div class="row mt-3">
                <div class="col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Search</mat-label>
                        <input matInput  placeholder="title search">
                    </mat-form-field>
                </div>   
        </div>
    </form>
    <div class="listBox">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8  w-100 mt-2">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element;let index = index"> {{index + 1}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="tasksAssigned">
                <th mat-header-cell *matHeaderCellDef> Tasks Assigned </th>
                <td mat-cell *matCellDef="let element"> {{element.tasksAssigned}} </td>
              </ng-container>
           

            <ng-container matColumnDef="actions" >
                <th mat-header-cell *matHeaderCellDef class="w-20">  </th>
                <td mat-cell *matCellDef="let element">   
                    <button  mat-raised-button color="warn">Delete</button>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
    </div>
</div>