button {
    color: #FFF;
    margin: 0 5px;
    &.addTask {
        background-color: #ca085a;
        color: #FFF;
        padding: 2px 23px;
        font-size: 20px;
    }
}

:host ::ng-deep {
    table {
        thead {
            background-color: #bc1059!important;
            .mat-header-cell {
                color: #FFF;
            }
        }
    }
}

.w-20 {
    width: 20%!important;
}
